@font-face { font-family: 'Oswald-ExtraLight200'; src: url(/czcionka/static/Oswald-ExtraLight.ttf) format('truetype'); font-display: fallback;}
@font-face { font-family: 'Oswald-Light300'; src: url(/czcionka/static/Oswald-Light.ttf) format('truetype'); font-display: fallback;}
@font-face { font-family: 'Oswald-Regular400'; src: url(/czcionka/static/Oswald-Regular.ttf) format('truetype'); font-display: fallback;}
@font-face { font-family: 'Oswald-Medium500'; src: url(/czcionka/static/Oswald-Medium.ttf) format('truetype'); font-display: fallback;}
@font-face { font-family: 'Oswald-SemiBold600'; src: url(/czcionka/static/Oswald-SemiBold.ttf) format('truetype'); font-display: fallback;}
@font-face { font-family: 'Oswald-Bold700'; src: url(/czcionka/static/Oswald-Bold.ttf) format('truetype'); font-display: fallback;}
:root{
    --font-family-Oswald-200: 'Oswald-ExtraLight200';
    --font-family-Oswald-300: 'Oswald-Light300';
    --font-family-Oswald-400: 'Oswald-Regular400';
    --font-family-Oswald-500: 'Oswald-Medium500';
    --font-family-Oswald-600: 'Oswald-SemiBold600';
    --font-family-Oswald-700: 'Oswald-Bold700';
    --font-size-site: 18px;
    --font-size: clamp(1.2rem, 0.4vw, 2.2rem);
    --font-size-h6: clamp(1.21rem, 0.65vw, 1rem);
    --font-size-h5: clamp(1.25rem, 0.95vw, 1.2rem);
    --font-size-h4: clamp(1.3rem, 1.2vw, 1.4rem);
    --font-size-h3: clamp(1.4rem, 3.8vw, 1.8rem);
    --font-size-h2: clamp(1.6rem, 4.2vw, 2.66rem);
    --font-size-h1: clamp(2.1rem, 8.4vw, 7.73rem);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
    font-size: var(--font-size-site);
}
body {
    font-family: var(--font-family-Oswald-300);
    font-size: var(--font-size);
    background-color: #1b1b1b;
    color: #e2e2e2;
}
button {
    font-size: calc(0.3em + 1vw);
    font-family: var(--font-family-Oswald-700);
}


/* górny pasek z tabelą, napisem i logowaniem */
#topBar {
    display: flex;
    justify-content: space-evenly;
    background-color: #1a237e;
    margin-bottom: 10px;
}
#leaderboardDiv {
    display: flex;
    background-color: gold;
    padding: 5px;
}
#leaderboardIcon {
    align-self: center;
    width: calc(2rem + 1vw);
    height: calc(2rem + 1vw);
}
#leaderboardText {
    font-size: calc(1rem + 1vw);
    color: black;
    align-self: center;
}
#headerName {
    font-size: calc(var(--font-size-h2) + 1vw);
    text-align: center;
    flex-grow: 1;
}
#logInDiv {
    background-color: aqua;
    padding: 5px;
    display: flex;
}
#logInIcon {
    align-self: center;
    width: calc(2rem + 1vw);
    height: calc(2rem + 1vw);
}
#logInText {
    color: black;
    font-size: calc(1rem + 1vw);
    align-self: center;
}


/* styl od faktycznej rozgrywki*/
#timer {
    display: none;
    text-align: center;
}
.startButton{
    padding: calc(0.5rem + 1vw);
}
#startButtons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#liczby {
    display: none;
    display: grid;
    justify-content: space-between;
    align-items: center;
}
#wynik {
    display: none;
    position: sticky;
    font-weight: bold;
    text-align: center;
    background-color: #1a237e;
    border: 2px solid black;
    padding: calc(2rem + 2vw);
    top: calc(2rem + 2vw);
    left: calc(2rem + 2vw);
}
.klikniety {
    background-color: gray;
}

/* responsywność */
@media(max-width: 510px){
    #logInText, #leaderboardText {
        display: none;
    }
}
@media(max-width: 300px){
    #startButtons {
        gap: 50px;
    }
    #headerName {
        font-size: calc(var(--font-size-h2) + 0.5vw);
    }
}