@font-face { font-family: 'Montserrat-ExtraLight200'; src: url(/assets/templates/font/Montserrat/Montserrat-ExtraLight.ttf) format('truetype');font-display: fallback;}
@font-face { font-family: 'Montserrat-Regular400'; src: url(/assets/templates/font/Montserrat/Montserrat-Regular.ttf) format('truetype'); font-display: fallback;}
@font-face { font-family: 'Orbitron-Medium500'; src: url(/assets/templates/font/Orbitron/Orbitron-Medium.ttf) format('truetype');font-display: fallback;}
@font-face { font-family: 'Orbitron-Bold700'; src: url(/assets/templates/font/Orbitron/Orbitron-Bold.ttf) format('truetype');font-display: fallback;}
:root{
    --font-family-Montserrat-200: 'Montserrat-ExtraLight200';
    --font-family-Montserrat-400: 'Montserrat-Regular400';
    --font-family-Orbitron-500: 'Orbitron-Medium500';
    --font-family-Orbitron-700: 'Orbitron-Bold700';
    --font-size-site: 18px;
    --font-size: clamp(1.2rem, 0.4vw, 2.2rem);
    --font-size-h6: clamp(1.21rem, 0.65vw, 1rem);
    --font-size-h5: clamp(1.25rem, 0.95vw, 1.2rem);
    --font-size-h4: clamp(1.3rem, 1.2vw, 1.4rem);
    --font-size-h3: clamp(1.4rem, 3.8vw, 1.8rem);
    --font-size-h2: clamp(1.6rem, 4.2vw, 2.66rem);
    --font-size-h1: clamp(2.1rem, 8.4vw, 7.73rem);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
    font-size: var(--font-size-site);
  }
body {
    font-family: var(--font-family-Montserrat-200);
  font-size: var(--font-size);
    background-color: #1b1b1b;
    color: #e2e2e2;
}
button {
    height: calc(2em + 1vw);
    margin: calc(2em + 1vw);
    font-size: calc(0.3em + 1vw);
    font-weight: bold;
}
.header {
    text-align: center;
    background-color: #1a237e;
}
#timer {
    display: none;
    text-align: center;
}
.startButton{
    margin-left: 20px;
    padding: 5px;
}
#startButtons {
    text-align: center;
}
#liczby {
    display: none;
    display: grid;
    align-items: center;
}
#wynik {
    display: none;
    position: absolute;
    font-weight: bold;
    text-align: center;
    background-color: aquamarine;
    border: 2px solid black;
    padding: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.klikniety {
    background-color: gray;
}